/* =========================
   TEAM HERO
========================= */

.team-hero{
    height:100vh;

    position:relative;

    background:
    /* linear-gradient(
    rgba(255, 255, 255, 0.9),
    rgba(0, 0, 0, 0)
    ), */
    url('/images/GalleryPageImage73.png');

    background-size:cover;
    background-position:center;

    display:flex;
    align-items:center;
    justify-content:center;

    text-align:center;
}

.team-hero-content{
    max-width:900px;
    padding:0 20px;
}

.team-hero-content h1{
    color:purple;
    font-size:47px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:800;
    margin-top: 130px;
    margin-bottom:60px;
    letter-spacing:1px;
}

.team-hero-content p{
    color:white;
    
    font-size:27px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height:1.8;
}
.team-section{
    background:#fafafa;
    padding:0;
    
}

.team-section-container{
    max-width:1400px;
    margin:auto;
    
}
.breadcrumb-section{
    background:white;
    padding:25px 8%;
    

    box-shadow:
    0 5px 25px rgba(0,0,0,.05);
}

.breadcrumb3-container{
    display:flex;
    align-items:center;
    gap:15px;
    margin-left:-20px;
}

.breadcrumb-home{
    text-decoration:none;
    font-size:22px;
    
}

.breadcrumb-arrow{
    color:#888;
}

.breadcrumb-current{
    color:purple;
    font-weight:700;
}
.team-intro{
    padding:1px 8%;
    background:white;
}

.team-intro-container{
    max-width:1200px;
    margin:auto;
    text-align:center;
}

.team-intro-container h2{
    color:purple;
    font-size:48px;
    margin-bottom:35px;
}

.team-intro-container p{
    color:#555;
    line-height:2;
    font-size:17px;
    max-width:1000px;
    margin:auto auto 20px;
}
.team-members-section{
    padding:0.1px 3% 50px;
    background:white;
}

.team-members-container{
    text-align:center;
    margin-bottom:70px;
}

.team-members-container h2{
    font-size:52px;
    color:purple;
    margin-bottom:20px;
}

.team-members-container p{
    max-width:900px;
    margin:auto;
    color:#666;
    font-size:18px;
}
.team-member-card{
margin-left:-190;
margin-right:0;
    display:grid;

    grid-template-columns:
    420px 1fr;

    gap:55px;

    background:rgb(225, 176, 248);

    padding:45px;

    border-radius:28px;

    margin-bottom:40px;

    position:relative;

    overflow:hidden;

    box-shadow:
    0 20px 60px rgba(0,0,0,.08);

    transition:.45s;
    max-width:1300px;
    max-height:450px;

}

/* .team-member-card:hover{

    transform:
    translateY(-12px);

    box-shadow:
    0 30px 80px rgba(128,0,128,.15);
} */

    .member-image{
    position:relative;

    display:flex;
    align-items:flex-end;
    justify-content:center;
width:380px;
    height:360px;
    overflow:visible;
    
}
.member-image-bg{
    position:absolute;
    
    
    border-radius:18px;
    z-index:1;
}
.member-image img{

    width:340px;

    height:400px;

    object-fit:contain;

    position:absolute;

    bottom:0px;

    left:50%;

    transform:translateX(-50%);

    z-index:3;

    border-radius:0;

    box-shadow:none;
}
/* .member-image::after{

    content:'';

    position:absolute;

    width:100%;

    height:100%;

    left:20px;
    top:20px;

    border:3px solid purple;

    border-radius:25px;

    z-index:-1;
} */
.member-badge{

    display:inline-block;

    background:
    linear-gradient(
    135deg,
    purple,
    #a855f7
    );

    color:white;

    padding:10px 24px;

    border-radius:50px;

    font-size:14px;

    margin-bottom:25px;
}

.member-details h2{

    color:purple;

    font-size:42px;

    margin-bottom:12px;
}

.member-details h4{

    color:#666;

    font-size:18px;

    margin-bottom:15px;
}

.member-details p{

    color:#555;

    font-size:11px;
    
font-weight: 500;
    line-height:2;

    margin-bottom:18px;

    text-align:justify;
}
.team-member-card::before{

    content:'';

    position:absolute;

    width:220px;
    height:220px;

    top:-110px;
    right:-110px;

    border-radius:50%;

    background:
    rgba(128,0,128,.08);
}
@media(max-width:992px){

.team-hero h1{
    font-size:48px;
}

.team-member-card{

    grid-template-columns:1fr;
}

.member-image img{
    height:350px;
}

.member-details h2{
    font-size:34px;
}
}

@media(max-width:768px){

.team-hero-content h1{
    font-size:38px;
}

.team-hero-content p{
    font-size:18px;
}

.team-members-container h2{
    font-size:38px;
}

.team-intro-container h2{
    font-size:38px;
}
}
/* CARD 1 */
.card-1{
background:linear-gradient(
135deg,
#fff8e7,
#ffe4b5
);
}

/* CARD 2 */
.card-2{
background:linear-gradient(
135deg,
#eef7ff,
#d8ecff
);
}

/* CARD 3 */
.card-3{
background:linear-gradient(
135deg,
#f8f0ff,
#ead7ff
);
}

/* CARD 4 */
.card-4{
background:linear-gradient(
135deg,
#f0fff6,
#d8ffe9
);
}

/* CARD 5 */
.card-5{
background:linear-gradient(
135deg,
#fff5f5,
#ffdcdc
);
}

/* CARD 6 */
.card-6{
background:linear-gradient(
135deg,
#fff8f1,
#ffe7cc
);
}

/* CARD 7 */
.card-7{
background:linear-gradient(
135deg,
#f2f7ff,
#dce8ff
);
}

/* CARD 8 */
.card-8{
background:linear-gradient(
135deg,
#fdf6ff,
#f2dcff
);
}

/* CARD 9 */
.card-9{
background:linear-gradient(
135deg,
#f4fff7,
#dbffe5
);
}

/* CARD 10 */
.card-10{
background:linear-gradient(
135deg,
#fff6f0,
#ffe0cf
);
}

/* CARD 11 */
.card-11{
background:linear-gradient(
135deg,
#f3fbff,
#d9f3ff
);
}
