/* src/components/Team/Team.css */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Cinzel:wght@500;600;700;800&display=swap');

/* =========================
   TEAM SECTION
========================= */

.team-section{

    position: relative;

    overflow: hidden;

    padding: 170px 7% 120px;

    background: white;
/* animation: founderFloat 3s ease-in-out infinite; */
}

/* BLUR */

.team-top-blur{

    position: absolute;

    border-radius: 50%;

    filter: blur(120px);

    z-index: 1;
}

.left-blur{

    width: 350px;
    height: 350px;

    background: rgba(128,0,128,0.10);

    top: -120px;
    left: -120px;
}

.right-blur{

    width: 350px;
    height: 350px;

    background: rgba(128,0,128,0.08);

    bottom: -100px;
    right: -100px;
}

/* WRAPPER */

.team-wrapper{

    position: relative;

    z-index: 2;

    max-width: 1450px;

    margin: auto;
}

/* HEADER */

.team-header{

    text-align: center;

    margin-bottom: 90px;
}

.team-header span{

    display: inline-block;

    color: purple;

    font-size: 14px;

    font-weight: 700;

    letter-spacing: 4px;

    text-transform: uppercase;

    font-family: 'Inter', sans-serif;

    margin-bottom: 24px;
}

.team-header h1{

    font-size: 48px;

    color: purple;

    font-family: 'Cinzel', serif;

    font-weight: 700;

    margin-bottom: 24px;

    line-height: 1.1;
}

.team-header p{

    max-width: 760px;

    margin: auto;

    color: #5b5b5b;

    line-height: 1.9;

    font-size: 18px;

    font-family: 'Inter', sans-serif;
}

/* =========================
   FOUNDER GRID
========================= */

.founder-grid{

    display: grid;

    grid-template-columns:
    repeat(auto-fit,minmax(320px,1fr));

    gap: 35px;
    margin-bottom: 60px;
    /* height: 650px; */
}

/* CARD */

.founder-card{

    position: relative;
padding: 14px;
    overflow: hidden;

    background: white;
border: 1px solid rgba(0,0,0,0.08);

/* box-shadow:
0 10px 30px rgba(0,0,0,0.10),
0 2px 8px rgba(0,0,0,0.08),
inset 0 1px 2px rgba(255,255,255,0.9); */
    border-radius: 34px;

    border: 2px solid transparent;
    transition: 0.45s ease;

    box-shadow:
0 0 25px rgba(255,215,0,0.25),
0 0 45px rgba(0,191,255,0.18),
0 15px 50px rgba(128,0,128,0.10);
    background:
linear-gradient(white, white) padding-box,
linear-gradient(
135deg,
gold,
deepskyblue,
purple,
gold
) border-box;

background-size: 300% 300%; 

animation: borderMove 6s ease infinite;
/* animation: founderFloat 3s ease-in-out infinite; */
}

.founder-card:hover{

    transform:
    translateY(-18px);
box-shadow:
0 18px 45px rgba(0,0,0,0.18),
0 4px 14px rgba(0,0,0,0.10),
0 0 35px rgba(0,191,255,0.45);
}

/* IMAGE */

.founder-image{

    position: relative;

    height: 350px;

    overflow: hidden;

    padding: 34px;

   width: 350px;
margin: auto;
border-radius: 50%;

    background: white;

    border: 0px solid rgba(0,0,0,0.08);

/* box-shadow:
inset 0 4px 10px rgba(0,0,0,0.10),
inset 0 -3px 8px rgba(255,255,255,0.9),
0 8px 18px rgba(0,0,0,0.08); */
}
.founder-image img{

    width: 100%;

    height: 100%;

    /* object-fit: cover; */

    border-radius: 50%;

    border: 1px solid rgba(0,0,0,0.12);

    background: white;

    box-shadow:
    0 10px 25px rgba(0,0,0,0.12),
    0 2px 6px rgba(0,0,0,0.08);

    transition: 0.5s ease;
    outline: 1px solid rgba(0,0,0,0.10);
}
.founder-card:hover .founder-image img{

    transform: scale(1.05);
}

/* CONTENT */

.founder-content{

    padding: 32px;
    
}
.top-founder-row{

    display: flex;

    align-items: center;

    justify-content: space-between;

    margin-bottom: 20px;
}

.top-founder-row span{

    color: purple;

    font-size: 12px;

    font-weight: 700;

    letter-spacing: 2px;

    font-family: 'Inter', sans-serif;
 margin-left: 110px;   
}

.founderDot{
display:none;
    width: 12px;
    height: 12px;

    border-radius: 50%;

    background: purple;
}

/* NAME */

.founder-content h3{

    color: purple;

    font-size: 30px;

    line-height: 1.3;

    margin-bottom: 16px;

    font-family: 'Cinzel', serif;
   margin-left: 106px;
}

/* ROLE */

.founder-content p{

    color: #666;

    font-size: 16px;

    line-height: 1.8;

    margin-bottom: 28px;

    font-family: 'Inter', sans-serif;
margin-left: 110px;
margin-top: 25px;
}

/* BUTTON */

.founder-content button{

    width: 100%;

    padding: 16px;

    border: none;

    border-radius: 18px;

    background: purple;

    color: white;

    font-size: 15px;

    font-weight: 700;

    cursor: pointer;

    transition: 0.4s ease;
}

.founder-content button:hover{

    background: rgb(97, 22, 97);
}
/* =========================
   FOUNDATION GRID
========================= */

.foundation-grid{
margin-top:-75px;
    display: grid;

    grid-template-columns:
    repeat(4, 1fr);

    gap: 38px;
    
}
/* CARD */

.foundation-card{

    position: relative;
padding: 10px;
    overflow: hidden;

    background: white;
border: 1px solid rgba(0,0,0,0.08);

/* box-shadow:
0 10px 30px rgba(0,0,0,0.10),
0 2px 8px rgba(0,0,0,0.08),
inset 0 1px 2px rgba(255,255,255,0.9); */
    border-radius: 34px;

    border: 2px solid transparent;
    transition: 0.45s ease;

    /* box-shadow:
0 0 25px rgba(255,215,0,0.25),
0 0 45px rgba(0,191,255,0.18),
0 15px 50px rgba(128,0,128,0.10); */
    background:
linear-gradient(white, white) padding-box,
linear-gradient(
135deg,
gold,
deepskyblue,
purple,
gold
) border-box;

background-size: 300% 300%; 

animation: borderMove 6s ease infinite;
/* animation: founderFloat 3s ease-in-out infinite; */
margin-top:25px;
}

.foundation-card:hover{

    transform:
    translateY(-10px);
box-shadow:
0 18px 45px rgba(0,0,0,0.18),
0 4px 14px rgba(0,0,0,0.10),
0 0 35px rgba(0,191,255,0.14);
}

/* IMAGE */

.foundation-image{

    position: relative;

    height: 230px;

    overflow: hidden;

    padding: 18px;

    border-radius: 50px;

    background: rgba(153, 147, 147, 0.055);

    border: 0px solid rgba(0,0,0,0.08);

box-shadow:
inset 0 4px 10px rgba(0,0,0,0.10),
inset 0 -3px 800px rgba(255,255,255,0.9),
0 8px 18px rgba(0,0,0,0.08);
}
.foundation-image img{

    width: 100%;

    height: 100%;

    /* object-fit: cover; */

    border-radius: 25px;

    border: 1px solid rgba(0,0,0,0.12);

    background: white;

    box-shadow:
    0 10px 25px rgba(0,0,0,0.12),
    0 2px 6px rgba(0,0,0,0.08);

    transition: 0.5s ease;
    outline: 1px solid rgba(0,0,0,0.10);
}
.foundation-card:hover .foundation-image img{

    transform: scale(1.05);
}

/* CONTENT */

.foundation-content{

    padding: 18px;
}

.top-row{

    display: flex;

    align-items: center;

    justify-content: space-between;

    margin-bottom: 20px;
    /* margin-left: 10px; */
}

.top-row span{

    color: purple;

    font-size: 10px;

    font-weight: 700;

    letter-spacing: 2px;

    font-family: 'Inter', sans-serif;
    margin-left: 10px;
}

.dot{
display:flex;
    width: 12px;
    height: 12px;

    border-radius: 50%;

    background: purple;
}

/* NAME */

.foundation-content h3{

    color: purple;

    font-size: 20px;

    line-height: 1.3;

    margin-bottom: 16px;

    font-family: 'Cinzel', serif;
margin-left: 8px;
}

/* ROLE */

.foundation-content p{

    color: #666;

    font-size: 13px;

    line-height: 1.8;

    margin-bottom: 28px;

    font-family: 'Inter', sans-serif;
margin-left: 10px;
margin-top: 25px;
}

/* BUTTON */

.foundation-content button{

    width: 100%;

    padding: 12px;

    border: none;

    border-radius: 18px;

    background: purple;

    color: white;

    font-size: 13px;

    font-weight: 700;

    cursor: pointer;

    transition: 0.4s ease;
}

.foundation-content button:hover{

    background: rgb(97, 22, 97);
}

/* =========================
   RESPONSIVE
========================= */

@media(max-width:992px){

    .founder-card{

        grid-template-columns: 1fr;
       
    }

    .team-header h1{

        font-size: 52px;
    }

    
.chairman-card{

    flex-direction: column;

    text-align: center;

    padding: 40px 30px;
}

.founder-left img{

     max-width: 280px;

    height: 340px;
}

.founder-right h2{

    font-size: 42px;
}
}

@media(max-width:768px){

    .team-section{

        padding: 140px 6% 90px;
    }

    .team-header h1{

        font-size: 38px;
    }

    .founder-left img{

        height: 420px;
    }

    .foundation-image{

        height: 300px;
    }

    .foundation-content{

        padding: 24px;
    }

    .founder-card{

        padding: 24px;
    }
}
@keyframes borderMove{

0%{
background-position: 0% 50%;
}

50%{
background-position: 100% 50%;
}

100%{
background-position: 0% 50%;
}

}
.foundation-card::before{

content: '';

position: absolute;

inset: -2px;

border-radius: 34px;

background:
linear-gradient(
135deg,
rgba(255,215,0,0.4),
rgba(0,191,255,0.3),
rgba(128,0,128,0.3)
);

filter: blur(25px);

z-index: -1;
}
@keyframes founderFloat{

    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(-8px);
    }

    100%{
        transform: translateY(0px);
    }
}
/* =========================
   CHAIRMAN PREMIUM CARD
========================= */
.top-leaders{

    display: flex;

    gap: 30px;

    align-items: stretch;

    margin-bottom: 70px;

    flex-wrap: wrap;
}
.chairman-card{

    display: flex;

    align-items: center;

    gap: 20px;

    padding: 14px 22px;

    margin-bottom: 70px;

    max-width: 100%;
    width:48%;

    min-height: 220px;

    margin-left: 0;
    margin-right: auto;

    position: relative;

    overflow: hidden;

    border-radius: 34px;

    border: 2px solid transparent;

    transition: 0.45s ease;

    background:
    linear-gradient(white, white) padding-box,
    linear-gradient(
    135deg,
    gold,
    deepskyblue,
    purple,
    gold
    ) border-box;

    background-size: 300% 300%;

    animation: borderMove 6s ease infinite;

    box-shadow:
    0 0 25px rgba(255,215,0,0.25),
    0 0 45px rgba(0,191,255,0.18),
    0 15px 50px rgba(128,0,128,0.10);
}
.chairman-card:hover{

    transform: translateY(-12px);

    box-shadow:
    0 18px 45px rgba(0,0,0,0.18),
    0 4px 14px rgba(0,0,0,0.10),
    0 0 35px rgba(0,191,255,0.45);
}
/* top glow */

.chairman-card::before{

    content: '';

    position: absolute;

    inset: -2px;

    border-radius: 34px;

    background:
    linear-gradient(
    135deg,
    rgba(255,215,0,0.4),
    rgba(0,191,255,0.3),
    rgba(128,0,128,0.3)
    );

    filter: blur(25px);

    z-index: -1;
}
/* IMAGE */

.founder-left{

    flex: 0.9;

    position: relative;

    z-index: 2;
    overflow: hidden;

    border-radius: 24px;
}

.founder-left img{

    width: 100%;

    max-width: 220px;
height: 200px;

    object-fit: cover;

    border-radius: 24px;

    border: 6px solid white;

    box-shadow:
    0 20px 45px rgba(0,0,0,0.12);
    transition: 0.5s ease;
}
.chairman-card:hover .founder-left img{

    transform: scale(1.05);
}
/* CONTENT */

.founder-right{

    flex: 1.6;

    position: relative;

    z-index: 2;
    max-width: 750px;
    margin-left:18px;
}

/* BADGE */

.founder-badge{

    display: inline-block;

    padding: 12px 24px;

    border-radius: 50px;

    background:
    rgba(128,0,128,0.08);

    color: purple;

    font-size: 13px;

    font-weight: 700;

    letter-spacing: 2px;

    margin-bottom: 14px;

    font-family: 'Inter', sans-serif;
}

/* NAME */

.founder-right h2{

    font-size: 34px;

    line-height: 1.1;

    margin-bottom: 12px;

    color: purple;

    font-family: 'Cinzel', serif;

    font-weight: 700;
}

/* ROLE */

.founder-right h4{

    font-size: 16px;
line-height: 1.7;
margin-bottom: 10px;

    color: purple;

    font-family: 'Inter', sans-serif;

    font-weight: 600;
}

/* TEXT */

.founder-right p{

    font-size: 12px;

    line-height: 1.6;

    color: #5f5f5f;

    margin-bottom: 8px;

    font-family: 'Inter', sans-serif;
}

/* BUTTON */

.founder-right button{
padding: 18px 32px;

    border-radius: 25px;

    font-size: 13px;

    border: none;

    background: purple;

    color: white;

    font-weight: 700;

    cursor: pointer;

    transition: 0.35s ease;

    box-shadow:
    0 15px 35px rgba(128,0,128,0.20);
    margin-top: 12px;
}

.founder-right button:hover{

    background: rgb(105, 22, 105);

    transform: translateY(-4px);

    box-shadow:
    0 10px 30px rgba(128,0,128,0.35),
    0 0 18px rgba(0,191,255,0.35);
}
@media(max-width:1200px){

    .foundation-grid{

        grid-template-columns: repeat(3,1fr);
    }
}

@media(max-width:900px){

    .foundation-grid{

        grid-template-columns: repeat(2,1fr);
    }
}

@media(max-width:600px){

    .foundation-grid{

        grid-template-columns: 1fr;
    }
}