@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500;600;700;800&family=Inter:wght@400;500;600;700;800&display=swap');
.contact-page{
font-family: 'Inter', sans-serif;
    min-height: 100vh;

    padding: 180px 8% 100px;

    background: white;
}

.contact-container{

    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 70px;

    align-items: center;
}

.contact-left span{

    color: purple;

    font-weight: 700;
font-family: 'Inter', sans-serif;
    letter-spacing: 4px;
}

.contact-left h1{

    font-size: 33px;
font-family: 'Cinzel', serif;
    line-height: 1.1;

    color: purple;

    margin: 24px 0;
}

.contact-left p{

    color: #5d5066;

    line-height: 2;
font-family: 'Inter', sans-serif;
    font-size: 18px;
}

.contact-right form{

    display: flex;

    flex-direction: column;

    gap: 20px;

    padding: 50px;

    border-radius: 30px;

    background: white;

    box-shadow:
    0 20px 50px rgba(128,0,128,0.10);
}

.contact-right input,
.contact-right textarea{

    width: 100%;

    padding: 18px 22px;

    border-radius: 16px;

    border: 1px solid rgba(128,0,128,0.15);

    outline: none;
font-family: 'Inter', sans-serif;
    font-size: 15px;
}

.contact-right button{

    padding: 18px;

    border: none;

    border-radius: 50px;

    background: purple;

    color: white;
font-family: 'Inter', sans-serif;
    font-size: 16px;

    font-weight: 700;

    cursor: pointer;
}

@media(max-width:992px){

    .contact-container{
        grid-template-columns: 1fr;
    }

    .contact-left h1{
        font-size: 42px;
    }
}
.input-box{
padding: 18px 22px 18px 55px;
    position: relative;

    width: 100%;
}
.input-icon{

    position: absolute;

    top: 50%;

    left: 20px;

    transform: translateY(-50%);

    color: purple;

    font-size: 16px;

    z-index: 2;
}
.textarea-icon{

    top: 48px;
}