/* ===========================
IMPACT SECTION
=========================== */

.impactsection-section{
    width:100%;
    padding:60px 120px 60px 40px;
    display:grid;
    grid-template-columns:55% 45%;
    align-items:center;
    gap:40px;
    background:#f7f1f1;
    overflow:hidden;
    margin-top:-20px;
}

/* LEFT */

.impactsection-left{
    display:flex;
    justify-content:flex-start;
    align-items:flex-end;
     /* position: relative;
    overflow: visible; */
}

.impactsection-left img{
    width:100%;
    max-width:650px;
    height:auto;
    display:block;
    margin:0;
    /* transform: translateX(-20px); */
}

/* RIGHT */

.impactsection-right{
    position:relative;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:18px;
    
}

/* CARD */

.impactsection-card{
    position:relative;
    height:180px;
    padding:7px 18px;
    width:180px;
    border-radius:16px;

    color:#fff;

    display:flex;
    flex-direction:column;
    justify-content:left;
    align-items:center;

    text-align:center;

    transition:.3s;
}

/* .impactsection-card:hover{
    transform:translateY(-6px);
} */

/* ICON */

.impactsection-icon{
    position:absolute;
    left:-14px;
    top:-14px;

    font-size:42px;
    color:var(--icon-color);
    /* white outline */
filter:
drop-shadow(1px 0 0 #fff)
drop-shadow(-1px 0 0 #fff)
drop-shadow(0 1px 0 #fff)
drop-shadow(0 -1px 0 #fff)
drop-shadow(1px 1px 0 #fff)
drop-shadow(-1px -1px 0 #fff)
drop-shadow(1px -1px 0 #fff)
drop-shadow(-1px 1px 0 #fff);
}

/* NUMBER */

.impactsection-card h3{
    margin-top:10px;
    margin-bottom:10px;
letter-spacing:1px;
    font-size:27px;
    font-weight:500;
    color:#fff;
}

/* TEXT */

.impactsection-card p{
    margin:0;

    font-size:15px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    line-height:1.45;
    color:#fff;
}

/* COLORS */

.education{
    background:#12a9b8;
}

.health{
    background:#6a51c4;
}

.resilience{
    background:#b0442f;
}

.livelihood{
    background:#4dbf82;
}

.protection{
    background:#de7436;
}

.humanitarian{
    background:#b08bd2;
}
.impactsection-date{

    grid-column: 3;
    justify-self: end;

    margin-top: 8px;

    font-size: 16px;
    font-weight: 500;
margin-right: -20px;
    color: #444;

    font-family: Georgia, 'Times New Roman', Times, serif;

}
/* RESPONSIVE */

@media(max-width:1200px){

.impactsection-section{
    grid-template-columns:1fr;
}

.impactsection-left{
    justify-content:center;
}

.impactsection-left img{
    max-width:600px;
}

.impactsection-right{
    max-width:760px;
    margin:auto;
}

}

@media(max-width:900px){

.impactsection-right{
    grid-template-columns:repeat(2,1fr);
}

}

@media(max-width:600px){

.impactsection-right{
    grid-template-columns:1fr;
}

.impactsection-card{
    height:auto;
    min-height:180px;
}

.impactsection-card h3{
    font-size:34px;
}

}