@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  scroll-behavior:smooth;
}

body{
  font-family:'Poppins',sans-serif;
  background:#050816;
  color:white;
  overflow-x:hidden;
}

section{
  padding:100px 8%;
}

.container{
  max-width:1400px;
  margin:auto;
}

.gradient-text{
  background:linear-gradient(to right,#ffb347,#ffcc33,#ffffff);
  -webkit-background-clip:text;
  background-clip:text;
  -webkit-text-fill-color:transparent;
}